<div class="banner">
  <div class="container">
    <h1 style="font-family: 'Quicksand', sans-serif;">REFRESH YOURSELF</h1>
  </div>
</div>

<div class="container">
  <h2 style="font-family: 'Quicksand', sans-serif; color:white;">Popular recipes</h2>
<div class="cards">

<%@cocktails.each do |cocktail|%>
  <div class="col-sm card-category m-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <%=link_to "#{cocktail.name}",cocktail_path(cocktail), class: "text-decoration-none "%>
  <div class="card_info">
    <ul>
    <%cocktail.ingredients.each do|i|%>
      <li><small><%=i.name%></small></li>
    <%end%>
  </div>

</div>
<%end%>
</div>

</div>
